@page
@model ITKarieraAnketiWeb.Pages.Home.Survey.InputDialogModel
<!DOCTYPE html>
<html>
<head>
    <title>Input Dialog</title>
    <style>
        body {
          margin: 0;
          padding: 0;
        }

        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          margin: 10px;
        }

        .grid-row {
          display: flex;
          width: 100%;
          margin-bottom: 10px;
        }

        .grid-row > * {
          flex: 1;
          text-align: center;
        }

        .input-box {
          border: 2px solid black;
          width: 200px;
          height: 30px;
          margin: 51px 0;
        }

        .button {
          margin: 33px 305px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="grid-row">
            <label id="lblQuestion"></label>
        </div>
        <div class="grid-row">
            <input type="text" id="nameTextBox" class="input-box">
        </div>
        <div class="grid-row">
            <button id="btnDialogOk" class="button">OK</button>
        </div>
    </div>
</body>
</html>
