@page
@model ITKarieraAnketiWeb.Pages.Home.LoginWindowModel
<!DOCTYPE html>
<html>
<head>
  <title>Login Window</title>
  <style>
    .container {
      width: 800px;
      height: 450px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    .title {
      font-size: 50px;
      margin: 40px;
    }

    .input-field {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button {
      width: 250px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="title">Login</h1>
        <div class="input-field">
      <input type="text" id="textLoginName" placeholder="Name" width="250">
        </div>
    <div class="input-field">
      <input type="password" id="textLoginPassword" placeholder="Password" width="250">
    </div>
    <form method="post" asp-action="Login">
    <button id="buttonLogin" class="button">Login</button>
    </form>
  </div>
</body>
</html>
